<!DOCTYPE html>
<html lang="en">
<head>
    @*<!-- Required meta tags -->*@
    <title>Philadelphia Volleyball - @ViewData["Title"]</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="We're a community of volunteers organizing weekly adult pickup volleyball in Philadelphia" />
    <meta name="author" content="Daniel Elliott" />
    <link rel="base" href="http://PhiladelphiaVolleyball.com" />
    <link rel="canonical" href="http://PhiladelphiaVolleyball.com" />
    <meta rel="sitemap" type="application/xml" content="http://PhiladelphiaVolleyball.com/sitemap.xml" />
    <meta name="robots" content="index/follow" />
    <meta name="googlebot" content="index/follow" />
    <meta name="theme-color" content="#ffffff" />
    <meta name="msapplication-navbutton-color" content="#ffffff" />
    <meta name="apple-mobile-web-app-status-bar-style" content="#ffffff" />
    @*<!-- Schema.org markup for Google+ -->*@
    <meta itemprop="name" content="Philadelphia Volleyball" />
    <meta itemprop="description" content="We're a community of volunteers organizing weekly adult pickup volleyball in Philadelphia" />
    <meta itemprop="image" content="http://philadelphiavolleyball.com/img/logo.png" />
    @*<!-- markup for facebook -->*@
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Philadelphia Volleyball" />
    <meta property="og:url" content="http://PhiladelphiaVolleyball.com" />
    <meta property="og:site_name" content="Philadelphia Volleyball" />
    <meta property="og:image" content="http://philadelphiavolleyball.com/img/logo.png" />
    <meta property="og:description" content="We're a community of volunteers organizing weekly adult pickup volleyball in Philadelphia" />
    <meta property="og:locale" content="en-US" />
    <meta property="fb:app_id" content="114185692540801" />
    <meta property="fb:admins" content="10213474609612009" />
    @*<!-- markup for twitter -->*@
    <meta name="twitter:card" content="Summary" />
    <meta name="twitter:title" content="Philadelphia Volleyball" />
    <meta name="twitter:description" content="We're a community of volunteers organizing weekly adult pickup volleyball in Philadelphia" />
    <meta name="twitter:creator" content="@@danelli0tt" />
    <meta name="twitter:image" content="http://philadelphiavolleyball.com/img/logo.png" />
    @*<!-- JSON-LD - structured data markup Google Search -->*@
    <script type="application/ld+json">
        {"@@context":"http://www.schema.org","@@type":"organization","name":"Philadelphia Volleyball","url":"http://PhiladelphiaVolleyball.com","logo":"http://philadelphiavolleyball.com/img/logo.png","image":"http://philadelphiavolleyball.com/img/logo.png","description":"We're a community of volunteers organizing weekly adult pickup volleyball in Philadelphia","address":{"addressLocality":"Philadelphia","@@type":"PostalAddress","addressRegion":"Pennsylvania","addressCountry":"United States","streetAddress":"1221 S Broad St Suite 607"},"contactPoint":{"telephone":"+1(419) 823-7326","@@type":"ContactPoint"}}
    </script>
    <link rel="apple-touch-icon" sizes="180x180" href="/img/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/img/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/img/favicon-16x16.png">
    <link rel="manifest" href="/img/manifest.json">
    <link rel="shortcut icon" href="/img/favicon.ico">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <environment names="Staging,Production">
        <script defer src="https://use.fontawesome.com/4067c98c86.js"></script>
    </environment>
    <environment names="Development">
        <link href="~/lib/font-awesome/css/font-awesome.css" rel="stylesheet" />
    </environment>
    <style>
        /* Show it is fixed to the top */
        body {
            min-height: 75rem;
            padding-top: 3.4rem;
        }

        img.emoji {
            height: 1em;
            width: 1em;
            margin: 0 .05em 0 .1em;
            vertical-align: -0.1em;
        }

        .instagram {
            background: #d6249f;
            background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
            box-shadow: 0px 3px 10px rgba(0,0,0,.25);
        }
    </style>
    @RenderSection(name: "HeadClose", required: false)
</head>
<body>
    <nav class="navbar navbar-expand-md navbar-light fixed-top" style="background-color:#fff; border-bottom-style: solid; border-bottom-color: #0275D8;">
        <div class="container">
            <a class="navbar-brand" href="/">
                <img src="/img/logo.png" width="30" height="30" class="d-inline-block align-top" alt="">
                Philadelphia Volleyball
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsCollapse" aria-controls="navbarsCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarsCollapse">
                <ul class="navbar-nav mr-auto">
                    <li asp-page="/Index" class="nav-item" is-active-page="">
                        <a asp-page="/Index" class="nav-link">Events</a>
                    </li>
                    <li asp-page="/About" class="nav-item" is-active-page="">
                        <a asp-page="/About" class="nav-link">About</a>
                    </li>
                    <li asp-page="/FAQ" class="nav-item" is-active-page="">
                        <a asp-page="/FAQ" class="nav-link">FAQs</a>
                    </li>
                    <li asp-page="/VolleyBRAWL" class="nav-item" is-active-page="">
                        <a asp-page="/VolleyBRAWL" class="nav-link">VolleyBRAWL</a>
                    </li>
                </ul>
                <ul class="navbar-nav">
                    <li>
                        <a class="btn btn-link btn-sm" href="https://instagram.com/PhillyVolleyball"><i class="fa fa-instagram fa-lg" aria-hidden="true"></i> Follow</a>&nbsp;
                    </li>
                    <li style="padding-top:3px;">
                        <a class="twitter-follow-button" href="https://twitter.com/PhillyVolley" data-size="large" data-show-count="false" data-dnt="true" data-show-screen-name="false">Follow @@PhillyVolley</a>&nbsp;
                    </li>
                    <li style="padding-top:3px;" class="fb-like" data-href="https://www.facebook.com/PhiladelphiaVolleyball/" data-layout="button" data-action="like" data-size="large" data-show-faces="false" data-share="false"></li>
                </ul>
            </div>

        </div>
    </nav>
    @RenderSection(name: "Jumbotron", required: false)
    <div class="container">
        @RenderBody()
    </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <div id="fb-root"></div>
    <script>
        (function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = 'https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.11&appId=114185692540801';
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));

        window.twttr = (function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0],
                t = window.twttr || {};
            if (d.getElementById(id)) return t;
            js = d.createElement(s);
            js.id = id;
            js.src = "https://platform.twitter.com/widgets.js";
            fjs.parentNode.insertBefore(js, fjs);

            t._e = [];
            t.ready = function (f) {
                t._e.push(f);
            };

            return t;
        }(document, "script", "twitter-wjs"));
    </script>
    @RenderSection(name: "BodyClose", required: false)
</body>
</html>
